@charset "UTF-8";
:root {
  --background-color: #7f7f7f;
  --primary-color: darkorange;
  --secondary-color: black;
  --button-primary-color: darkorange;
  --button-secondary-color: #eeff5f;
  --button-text-color: black;
  --border-color: #eeff5f;
  --border-color-secondary: darkorange;
  --card-color: lightgrey;
  --font-color: black;
  --focus-color: black;
}

[data-theme=dark] {
  --background-color: black;
  --primary-color: #6d6d6d;
  --secondary-color: #eeff5f;
  --button-primary-color: darkorange;
  --button-secondary-color: #eeff5f;
  --button-text-color: black;
  --border-color: darkorange;
  --border-color-secondary: white;
  --card-color: grey;
  --font-color: white;
  --focus-color: black;
}

/* Reset some basic elements to remove browser default styles */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--font-color);
  line-height: 1.5;
  width: 75rem;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

nav {
  width: 100%;
}
nav ul {
  padding: 1rem;
}

h1,
h2 {
  color: #eeff5f;
  font-size: x-large;
  font-weight: 900;
  line-height: 1.2;
  text-align: center;
  padding: 2rem;
}

a {
  color: var(--secondary-color);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 1rem auto;
  align-items: center;
}
form label {
  margin-bottom: 0.5rem;
}
form input,
form textarea {
  display: grid;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid var(--border-color);
  border-radius: 0.25rem;
}
form input:focus,
form textarea:focus {
  outline: none;
  border-color: var(--secondary-color);
}

p {
  margin-bottom: 1rem;
  text-align: center;
}

section {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 1rem auto;
  align-items: center;
}

div.grid {
  display: grid;
  gap: 1rem;
  padding: 1rem;
}

input.block-index-input {
  min-width: 3rem;
  padding: 0.5rem;
  margin-left: 10px;
}

.centeredText {
  text-align: center;
}

.mineBlock {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}

footer {
  margin-top: 2rem;
  text-align: center;
  font-size: large;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.625rem, 1.25rem;
  background-color: var(--primary-color);
  color: var(--font-color);
}

.logo {
  height: 5rem;
}

nav ul {
  display: flex;
}
nav ul li {
  margin-right: 1.25rem;
}

.theme-toggle {
  position: relative;
  margin-right: 1.25rem;
}

.theme-toggle-checkbox {
  display: none;
}

.theme-toggle-label {
  display: inline-block;
  width: 3.125rem;
  height: 1.5625rem;
  background-color: var(--background-color);
  border-radius: 1.5625rem;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s;
  border: 0.125rem solid var(--secondary-color);
}

.theme-toggle-label::before,
.theme-toggle-label::after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1rem;
  transition: z-index 0.3s, left 0.3s;
}

.theme-toggle-label::before {
  content: "☀️";
  left: 0.3125rem;
}

.theme-toggle-label::after {
  content: "🌙";
  left: 1.875rem;
}

.theme-toggle-checkbox:checked + .theme-toggle-label::after {
  z-index: -2;
}

.theme-toggle-inner {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 1.5625rem;
  transition: background-color 0.3s;
}

.theme-toggle-switch {
  display: block;
  width: 1.1875rem;
  height: 1.1875rem;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 0.1875rem;
  left: 0.125rem;
  transition: transform 0.3s;
}

.theme-toggle-checkbox:checked + .theme-toggle-label .theme-toggle-switch {
  transform: translateX(1.5625rem);
}

.separator {
  color: var(--secondary-color);
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.blockchain-container {
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.controls {
  margin-bottom: 1.25rem;
  display: flex;
  gap: 0.625rem;
}

.blockchain-view {
  display: flex;
  width: 100%;
  transition: all 0.3s ease;
}

.blockchain-list {
  flex: 1;
  overflow-y: auto;
  max-height: 70vh;
  transition: flex 0.3s ease;
}

.blockchain-list ul {
  list-style-type: none;
  padding: 0;
}

.block-item {
  border: 0.125rem solid var(--border-color);
  padding: 0.3125rem;
  margin: 0.625rem 0;
  color: var(--font-color);
  background-color: var(--card-color);
  border-radius: 0.3125rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
}

.block-item p {
  margin: 0.3125rem 0;
}

button {
  padding: 0.625rem 1.25rem;
  background-color: var(--button-primary-color);
  color: var(--button);
  border: none;
  border-radius: 0.3125rem;
  cursor: pointer;
}

button:hover {
  background-color: var(--button-secondary-color);
  color: var(--button-text-color);
}

.block-focused .blockchain-list {
  flex: 0.2;
}

.block-focused .block-focused-view {
  flex: 0.8vw;
  margin: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.block-focused-view {
  flex: 0; /* Initially take up no space */
  display: none; /* Initially hidden */
}

.block-item.focused {
  background-color: var(--focus-color);
  border: 0.3125rem solid var(--border-color-secondary);
  box-shadow: 0 0 0.625rem rgba(192, 192, 192, 0.5);
  transition: all 0.3s ease;
}/*# sourceMappingURL=index.css.map */