// Sass variables for colors

// Add more and correct color variables here as they are decided
$primary-color: black;
$secondary-color: green;

$button-primary-color: orange;
$button-text-color: white;

$border-color: brown;
$card-color: lightgrey;
$font-color: white;
