// Sass variables for colors

// _colors.scss

//! I might have added more color defaults than necessary. remove if not used.
// Light theme colors - Default theme
$light-background-color: #7f7f7f; // Correct color
$light-primary-color: darkorange; // Correct color
$light-secondary-color: black; //! Decide or remove
$light-button-primary-color: darkorange; // Correct color
$light-button-secondary-color: #eeff5f; //! Decide or remove
$light-button-text-color: black; // Correct color
$light-border-color: #eeff5f; //! Decide or remove
$light-border-color-secondary: darkorange; //! Decide or remove
$light-card-color: lightgrey; //! Decide or remove
$light-font-color: black; // Correct color
$light-focus-color: black; //! Decide or remove

// Dark theme colors
$dark-background-color: black; // Correct color
$dark-primary-color: #6d6d6d;
$dark-secondary-color: #eeff5f;
$dark-button-primary-color: darkorange;
$dark-button-secondary-color: #eeff5f;
$dark-button-text-color: black;
$dark-border-color: darkorange;
$dark-border-color-secondary: white;
$dark-card-color: grey;
$dark-font-color: white; // Correct color
$dark-focus-color: black;

// CSS variables defined
:root {
  --background-color: #{$light-background-color};
  --primary-color: #{$light-primary-color};
  --secondary-color: #{$light-secondary-color};
  --button-primary-color: #{$light-button-primary-color};
  --button-secondary-color: #{$light-button-secondary-color};
  --button-text-color: #{$light-button-text-color};
  --border-color: #{$light-border-color};
  --border-color-secondary: #{$light-border-color-secondary};
  --card-color: #{$light-card-color};
  --font-color: #{$light-font-color};
  --focus-color: #{$light-focus-color};
}

[data-theme="dark"] {
  --background-color: #{$dark-background-color};
  --primary-color: #{$dark-primary-color};
  --secondary-color: #{$dark-secondary-color};
  --button-primary-color: #{$dark-button-primary-color};
  --button-secondary-color: #{$dark-button-secondary-color};
  --button-text-color: #{$dark-button-text-color};
  --border-color: #{$dark-border-color};
  --border-color-secondary: #{$dark-border-color-secondary};
  --card-color: #{$dark-card-color};
  --font-color: #{$dark-font-color};
  --focus-color: #{$dark-focus-color};
}
