// base.scss

body {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--font-color);
  line-height: 1.5;
  width: $pageWidthDesk;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 pxToRem(16);
}

nav {
  width: 100%;
  ul {
    padding: 1rem;
  }
}

h1,
h2 {
  color: $dark-secondary-color;
  font-size: x-large;
  font-weight: 900;
  line-height: 1.2;
  // margin-bottom: pxToRem(8);
  text-align: center;
  padding: 2rem;
}

a {
  color: var(--secondary-color);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 1rem auto;
  align-items: center;
  label {
    margin-bottom: 0.5rem;
  }

  input,
  textarea {
    display: grid;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid var(--border-color);
    border-radius: 0.25rem;
    &:focus {
      outline: none;
      border-color: var(--secondary-color);
    }
  }
}

p {
  margin-bottom: pxToRem(16);
  text-align: center;
}

section {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 1rem auto;
  align-items: center;
}

div.grid {
  display: grid;
  gap: 1rem;
  padding: 1rem;
}

input.block-index-input {
  min-width: 3rem;
  padding: 0.5rem;
  margin-left: 10px;
}

.centeredText {
  text-align: center;
}

.mineBlock {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}

footer {
  margin-top: pxToRem(32);
  text-align: center;
  font-size: large;
}
